* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    width: 100vw;
    height: 95vh;
    background-color: lightblue;
    margin: 0;
  }
  
  #two {
    display: flexbox;
    flex-direction: row;
    margin-left: -50px;
    margin-bottom: 20px;
    border: 1px black solid;
  }
  
  .back {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 48px;
    position: absolute;
    top: 0;
  }
  
  #app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
  }
  
  #weather {
    height: 100px;
    list-style-type: none;
    margin-top: 30px;
    font-family: 'Montserrat';

  }
  
  #button {
    width: 60px;
    height: 35px;
    margin: 0;
    position: absolute;
    margin-left: 10px;
    background-color: white;
    border: 1px black solid;
    font-family: 'Montserrat';
  }
  
  #loc {
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px black solid;
    font-family: 'Montserrat';
  }
  
  #input {
    height: 35px;
  }
  
  #div1 {
    text-align: center;
    list-style-type: none;
  }
  
  #div3 {
    text-align: center;
  }
  
  #li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
  }
  
  #city {
    font-size: 30px;
    font-family: 'Montserrat';
  }
  